<app-header title="Card"></app-header>

<ion-content padding>
    <ion-card mode="ios" color="primary">
        <ion-card-header>
          <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
          <ion-card-title>Card Title</ion-card-title>
        </ion-card-header>
      
        <ion-card-content>
          Keep close to Nature's heart... and break clear away, once in awhile,
          and climb a mountain or spend a week in the woods. Wash your spirit clean.
        </ion-card-content>
    </ion-card>

    <ion-card>
        <ion-item color="primary">
            <ion-icon slot="start" name="pin"></ion-icon>
            <ion-label>Marcardor</ion-label>
        </ion-item>

        <ion-card-content>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate a aliquid, debitis, dolor tenetur eveniet quidem expedita quas quae impedit et fugiat ullam. Vero ea, praesentium magnam aperiam eos optio.
        </ion-card-content>
    </ion-card>

    <ion-card>
        <ion-img src="/assets/shapes.svg"></ion-img>
        <ion-card-content>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Delectus ea veniam ipsam corporis, tempora autem similique earum aperiam consequuntur officia vero dicta vitae beatae, eius itaque sint corrupti. Harum, dolorum.
        </ion-card-content>
    </ion-card>
</ion-content>
